@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height:100vh;
    font-family: "Cabin", sans-serif;
    background-color: rgb(18, 19, 20);
    color : white;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
}

nav {
    grid-row: 1/2;
    grid-column: 1/3;
    border-bottom: 1px solid white;
}

aside {
    border-right: 1px solid white;
}


footer {
    border-top: 1px solid white;
    grid-column:1/3;
}



