@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height:100vh;
    font-family: "Cabin", sans-serif;
    background-color: rgb(18, 19, 20);
    color : white;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
}

nav {
    grid-row: 1/2;
    grid-column: 1/3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.514);
    padding: 1rem;

}

aside {
    border-right:  1px solid rgba(255, 255, 255, 0.514);
    padding:1rem;
}


footer {
    border-top: 1px solid rgba(255, 255, 255, 0.514);
    grid-column:1/3;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    padding:1rem;
}

.row h4 {
    color: rgb(138, 137, 137);
}

.row button {
    background-color: red;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 6px 0;
    width: 100px;
    border-radius: 10px;

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  font-size:1.4rem;
}


.row h2 {
    font-size: 2rem;
}

.tasklist {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap:1rem
}

.tasklist > div {
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 1rem;
}



.tasklist p {
    font-size: 1.25rem;
}

.due {
    /* border : 1px solid white; */
    display: flex;
    align-items: center;
    gap:3px
}

.taskcheck {
    display: flex;
    gap: 10px;
}
 

.taskcheck .checked {
    border-radius: 59px;
}

