@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height:100vh;
    font-family: "Cabin", sans-serif;
    background-color: white;
    color : black;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    /* position: relative; */
}

nav {
    grid-row: 1/2;
    grid-column: 1/3;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1rem;

}

nav h1 {
    color : #1313ec;
    font-size: 1.5rem;
    font-weight: 900;
}

aside {
    /* border-right:  1px solid rgb(0, 0, 0); */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding:1rem;
    position: relative;
}

aside h2 {
    font-size: 1rem;

}

aside .btnRow {
    display: flex;
    justify-content: center;
}

#newProjectBtn {
    position: absolute;
    text-align: center;
    width: calc(100% - 30px);
    padding: 1rem 3rem;
    border: none;
    color: white;
    font-weight: 600;
    background-color: #1313ec;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    border-radius: 1rem;
    margin-bottom: 1rem;
    bottom: 0;
}

main {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


footer {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    grid-column:1/3;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding:1rem;
}

.row h4 {
    color: rgb(138, 137, 137);
}

.row button {
    background-color: #1313ec;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    font-weight: 600;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;

}




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  font-size:1.5rem;

}


.row h2 {
    font-size: 2rem;
}

.tasklist {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap:1rem
}

.task{
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.tasklist p {
    font-size: 1.25rem;
}

.due {
    /* border : 1px solid white; */
    display: flex;
    align-items: center;
    gap:3px
}

.taskcheck {
    display: flex;
    gap: 10px;
}



.checked {
    appearance: none;
    height: 20px;
    width: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-content: center;
}

.checked::before {
    content: '';
    background-color: #00ffe5;
    height: 20px;
    width:20px;
    border-radius: 50%;
    background-image: url(check_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scale: 0;
    opacity:0;
    transition: 200ms ease;
}

.checked:checked::before {
    scale: 1;
    opacity: 1;
}

.dialog, .dialogtwo {
    padding: 1rem;
    margin: auto;
}   

.dialog h1, .dialogtwo h1 {
    position: relative;
    width: max-content;
    margin-bottom: 10px;
}

.dialog h1::after, .dialogtwo h1::after { 
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(143, 84, 190, 1) 34%, rgba(148, 83, 186, 1) 51%, rgba(151, 83, 184, 1) 60%, rgba(252, 70, 107, 1) 100%);
}

.dialog div {
    display: flex;
    justify-content: space-between;
}

.dialog button, .dialogtwo button {
    padding: 0.5rem;
    border-radius: 10rem;
    background-color: black;
    color: white;
    font-weight: 600;
}


